ms/pgu-scenario-generator-service/src/main/resources/xsd/commons/scenario.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:com="urn://web.gibdd.ru/appeal-fines-gibdd/commons/common/1.0.2"
            xmlns:scn="urn://web.gibdd.ru/appeal-fines-gibdd/commons/scenario/1.0.2"
            targetNamespace="urn://web.gibdd.ru/appeal-fines-gibdd/commons/scenario/1.0.2"
            elementFormDefault="qualified">

    <xsd:import namespace="urn://web.gibdd.ru/appeal-fines-gibdd/commons/common/1.0.2"
                schemaLocation="common.xsd"/>

    <xsd:complexType name="AppealScenarioType">
        <xsd:annotation>
            <xsd:documentation>Возможный сценарий обжалования</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="AppealAllowedBefore" type="xsd:date">
                <xsd:annotation>
                    <xsd:documentation>Дата, до которой возможно обжалование (не включительно)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Reasons" type="scn:ReasonTemplatesType"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ReasonTemplatesType">
        <xsd:annotation>
            <xsd:documentation>Описание шаблонов причин</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="Top1">
                <xsd:annotation>
                    <xsd:documentation>Рекомендуемые причины</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Reasons" type="scn:ReasonTemplateListType"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="Top2" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Реже рекомендуемые причины</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Reasons" type="scn:ReasonTemplateListType" minOccurs="0"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="Other" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Прочие доступные причины</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Reasons" type="scn:ReasonTemplateListType" minOccurs="0"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ReasonTemplateListType">
        <xsd:annotation>
            <xsd:documentation>Список шаблонов причин</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="Reason" type="scn:ReasonTemplateType" maxOccurs="100"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ReasonTemplateType">
        <xsd:annotation>
            <xsd:documentation>Шаблон причины обжалования</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="Title" type="com:string-250"/>
            <xsd:element name="Hint" type="com:string-4000" minOccurs="0"/>
            <xsd:element name="Subject" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Hint" type="com:string-250" minOccurs="0"/>
                    </xsd:sequence>
                    <xsd:attribute name="required" type="xsd:boolean">
                        <xsd:annotation>
                            <xsd:documentation>Требуется указание сути жалобы (обычно для сложных случаев)</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                </xsd:complexType>
            </xsd:element>
            <xsd:sequence>
                <xsd:annotation>
                    <xsd:documentation>Список возможных доказательств</xsd:documentation>
                </xsd:annotation>
                <xsd:element name="Evidences" type="scn:EvidenceTemplateListType" minOccurs="0"/>
            </xsd:sequence>
            <xsd:element name="Participation">
                <xsd:annotation>
                    <xsd:documentation>Рассматривать в присутствии заявителя</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:attribute name="defaultValue" type="xsd:boolean" use="required"/>
                    <xsd:attribute name="readOnly" type="xsd:boolean"/>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="code" type="com:stringNN-20" use="required"/>
    </xsd:complexType>

    <xsd:complexType name="EvidenceTemplateListType">
        <xsd:annotation>
            <xsd:documentation>Список шаблонов доказательств</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="Evidence" type="scn:EvidenceTemplateType" maxOccurs="100"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="EvidenceTemplateType">
        <xsd:annotation>
            <xsd:documentation>Шаблон доказательства</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="Title" type="com:string-250"/>
            <xsd:element name="Hint" type="com:string-4000" minOccurs="0"/>
            <xsd:element name="AttachmentsAllowed" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Список допустимых вложений</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="AttachmentTemplate" type="scn:AttachmentTemplateType" maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="code" type="com:stringNN-20" use="required"/>
        <xsd:attribute name="required" type="xsd:boolean" use="required"/>
        <xsd:attribute name="requireGroup" type="com:stringNN-20">
            <xsd:annotation>
                <xsd:documentation>Группа обязательных вложений доказательства</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="textAllowed" type="xsd:boolean" use="required"/>
    </xsd:complexType>

    <xsd:complexType name="AttachmentTemplateType">
        <xsd:annotation>
            <xsd:documentation>Описание допустимого файла вложения</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:annotation>
                <xsd:documentation>Перечень допустимых форматов файлов вложений</xsd:documentation>
            </xsd:annotation>
            <xsd:element name="FileFormats">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="FileFormat" type="scn:AttachmentFileFormatType" maxOccurs="100"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="countMin" type="xsd:int" use="required"/>
        <xsd:attribute name="countMax" type="xsd:int" use="required"/>
        <xsd:attribute name="sizeTotalKB" type="xsd:int" use="required"/>
    </xsd:complexType>

    <xsd:complexType name="AttachmentFileFormatType">
        <xsd:annotation>
            <xsd:documentation>Описатель формата файла вложения</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="Title" type="com:string-1000"/>
            <xsd:sequence>
                <xsd:choice>
                    <xsd:element name="FileExtensions">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="FileExtension" type="com:stringNN-20" maxOccurs="20"/>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="MimeTypes">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="MimeType" type="com:string-60" maxOccurs="20"/>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:choice>
            </xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="code" type="com:stringNN-20" use="required"/>
    </xsd:complexType>

    <xsd:complexType name="ReasonType">
        <xsd:annotation>
            <xsd:documentation>Причина для обжалования</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="Subject" type="com:string-4000" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Суть жалобы (для wantSubject=1)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Evidences" type="scn:EvidenceListType" minOccurs="0"/>
        </xsd:sequence>
        <xsd:attribute name="code" type="com:stringNN-20" use="required"/>
        <xsd:attribute name="participation" type="xsd:boolean" use="required">
            <xsd:annotation>
                <xsd:documentation>Рассматривать в присутствии заявителя</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="EvidenceListType">
        <xsd:annotation>
            <xsd:documentation>Список доказательств</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="Evidence" type="scn:EvidenceType" maxOccurs="100"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="EvidenceType">
        <xsd:annotation>
            <xsd:documentation>Доказательство для причины обжалования</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:annotation>
                <xsd:documentation>Текст и/или вложения</xsd:documentation>
            </xsd:annotation>
            <xsd:element name="Text" type="com:string-4000" minOccurs="0"/>
            <xsd:element name="Attachments" type="com:AppliedDocumentListType" minOccurs="0"/>
        </xsd:sequence>
        <xsd:attribute name="code" type="com:stringNN-20" use="required"/>
    </xsd:complexType>

</xsd:schema>